<ion-header>
  <ion-toolbar>
    <ion-title>Regsiter</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding class="login-container">
  <ion-content [fullscreen]="true">
    <ion-card style="margin-top: 8rem">
      <form
        [formGroup]="userFormGroup"
        (ngSubmit)="onSubmit()"
        style="margin-top: 2rem"
      >
        <ion-card-content
          style="
            position: relative;
            display: flex;
            flex-direction: column;
            gap: 1rem;
          "
        >
          <ion-input
            mode="md"
            label="Firstname"
            label-placement="floating"
            fill="outline"
            placeholder="Enter Firstname"
            formControlName="firstName"
          ></ion-input>

          <ion-input
            mode="md"
            label="Lastname"
            label-placement="floating"
            fill="outline"
            placeholder="Enter Lastname"
            formControlName="lastName"
          ></ion-input>

          <ion-input
            mode="md"
            label="Email"
            label-placement="floating"
            fill="outline"
            type="email"
            placeholder="Enter email"
            formControlName="email"
          ></ion-input>

          <ion-input
            mode="md"
            label="Phone number"
            label-placement="floating"
            fill="outline"
            placeholder="Enter phone number"
            formControlName="phoneNumber"
          ></ion-input>

          <ion-input
            mode="md"
            label="Password"
            label-placement="floating"
            fill="outline"
            type="password"
            placeholder="Enter password"
            formControlName="password"
          ></ion-input>

          <ion-footer style="display: flex; justify-content: center;"
          >
            <ion-button
              [disabled]="!userFormGroup.valid"
              color="danger"
              type="submit"
              style="width: 50%;"
              >Register</ion-button
            >
          </ion-footer>
        </ion-card-content>
      </form>
    </ion-card>
  </ion-content>
</ion-content>
