<ion-header>
  <ion-toolbar>
    <ion-title>Login/SignUp</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding class="login-container">
  <ion-card style="margin-top: 15rem">
    <form [formGroup]="userFormGroup" (ngSubmit)="onSubmit()">
      <ion-card-content
        style="
          position: relative;
          display: flex;
          flex-direction: column;
          gap: 1rem;
        "
      >
        <ion-input
          mode="md"
          label="Email"
          label-placement="floating"
          fill="outline"
          placeholder="Enter email"
          type="email"
          formControlName="username"
        ></ion-input>

        <ion-input
          mode="md"
          label="Password"
          label-placement="floating"
          fill="outline"
          placeholder="Enter password"
          type="password"
          formControlName="password"
        ></ion-input>
      </ion-card-content>
      <ion-footer style="display: flex; flex-direction: row">
        <ion-button
          [disabled]="!userFormGroup.valid"
          color="primary"
          type="submit"
          >Login</ion-button
        >
        <ion-button routerLink="/register" color="danger">Register</ion-button>
      </ion-footer>
    </form>
  </ion-card>
</ion-content>
